.card {
  z-index: 1;
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
  background-image: linear-gradient(
    140deg,
    var(--mui-palette-primary-dark),
    var(--mui-palette-secondary-main) 20%,
    var(--mui-palette-primary-dark)
  );
}
.card::before {
  content: '';
  z-index: -1;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 4px);
  background: black;
  margin: 2px;
}
