.paper {
  color: #ededed;
  background: linear-gradient(to bottom left, #19203f, #303d79);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid #0a0a0a;
  transition: all 125ms ease-out;
}

.paper:hover {
  filter: brightness(80%);
  background: linear-gradient(to top right, #19203f, #303d79);
}

/* .paper:hover {
  background-color: #2b2b2b;
  color: var(--mui-palette-grey-50);
} */

.textFieldBox {
  position: sticky;
  top: 0;
  left: 0;
}

.icon {
  cursor: pointer;
}
.icon:hover {
  color: #d6b455;
}
