html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

a {
  color: #556cd6;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #e7e8e8;
  background: #0f1318;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
