.background {
  background-image: url("../public/img/Cyb3rYoga.png");
  background-clip: border-box;
  background-attachment: fixed;

  border: 3px solid #73ad21;
  position: relative;
}

.background::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: hard-light;
}
